<h1>Categorys#index</h1>
<p>Find me in app/views/categorys/index.html.erb</p>
<% @category.each do |category|%>
 <h1><%= link_to category.name, category_path(category.id)%></h1>
<% end%>
<%= link_to "Add New Category", new_category_path%>
